/* Feel free to modify anything in this file.*/
html body {
	background-color: #ecedd5;
}

header {
	padding-left: 40px;
	padding-top: 20px;
}

.vendor-wrapper {
	justify-content: left;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.vendor-photo {
	max-width: 200px;
	max-height: 150px;
	padding-right: 20px;
}

.vendor-book-button {
	font-size: 2em;
}

.content-pane {
  padding: 40px;
}

.fa-stack[data-count]:after{
  position: absolute;
  right: 0%;
  top: 0%;
  content: attr(data-count);
  font-size: 40%;
  padding: .6em;
  border-radius: 999px;
  line-height: .75em;
  color: white;
  color: #DF0000;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: white;
  border-style: solid;
}
.fa-circle {
  color: #DF0000;
}

.red-cart {
	color: #DF0000;
}
